<h1>New Search</h1>

  <% if @search_param.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search_param.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
        <% @search_param.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<sp-form search_param_json= "<%=@search_param.to_json%>" :post="true"></sp-form>

<%= link_to 'Back', search_params_path %>